* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #eef2fd;
    /* overflow: hidden; */
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}
.main {
    max-width: 50rem;
    display: flex;
    gap: 3rem;
    background-color: #fff;
    border-radius: .6rem;
    box-shadow: 0 1rem 2rem #cbcfda86;
}

.main > img {
    max-width: 19rem;
    border-radius: .6rem 0 0 .6rem;
    object-fit: cover;
}

.ctn {
    padding: 2rem 3rem 0 0;
}
.ctn > h1 {
    font-size: 1.2rem;
    color: #2a2f3d;
    margin-bottom: 1rem;
}
.ctn > p {
    color: #868686;
    font-size: 0.8rem;
}
.author {
    position: relative;
}
.author-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    padding-right: 3rem;
}
.author-profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.author-profile img {
    max-width: 3.5rem;
    border-radius: 10rem;
}
.author-profile h2 {
    color: #2a2f3d;
    font-size: .9rem;
}
.author-profile p {
    color: #aaaaaa;
    font-size: .8rem;
}
.author-content > span {
    padding: 0.5rem 0.8rem;
    border-radius: 10rem;
    background-color: #f3f3f3;
    cursor: pointer;
    position: relative;
    z-index: 30;
}
.author-content button:hover {
    cursor: pointer;
}
.btnBackgound {
    background-color: #6E8098 !important;
}
/* Hideen social share */
.social-media{
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    background-color: #4d5561;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    border-radius: .4rem;
    gap: 1rem;
    box-shadow: 0 0.2rem 0.7rem #626c7aa1;
    position: absolute;
    margin-top: -10rem;
    margin-left: 16rem;
    z-index: 10;
}
.social-media p {
    color: #93a3b8;
}
.social-media a img {
    margin-bottom: -0.25rem;
}
.social-media span {
    position: absolute;
    border-top: 1rem solid #4d5561;
    border-right: 1rem solid rgba(255, 0, 0, 0);
    border-bottom: 1rem solid rgba(0, 0, 255, 0);
    border-left: 1rem solid rgba(255, 192, 203, 0);
    margin-bottom: -5.4rem;
}
.social-media.hidden {
    display: none;

}

/* Media Query */
@media (max-width:991px) {
    .main {
        display: flex;
        flex-direction: column;
        max-width: 23rem;
        gap: 1.5rem;
    }
    .main > img {
        max-width: 100%;
        height: 15rem;
        border-radius: .6rem .6rem 0 0;
    }
    .ctn{
        padding: 1rem 1.5rem;
    }
    .author-content {
        padding: 1rem 1.5rem;
    }
    .social-media {
        width: 100%;
        justify-content: left;
        text-align: left;
        margin: auto;
        border-radius: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        border-radius: 0 0 0.6rem 0.6rem;
    }
    .social-media span {
        display: none;
    }
    
}
